@font-face {
  font-family: "NotoSans";
  src: url("./../assets/NotoSans/NotoSans-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background-color: #e5e5e5;
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}
:root {
  --black: #3b434e;
  --gray-light: #ebebeb;
  --white: #ffffff;
  --primary: #7653fc;
  --primary-hover: #3f2996;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: "Noto Sans", sans-serif;
}
